<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>

    {{#each books}}
    <p>{{this.title}}</p>
    <img src="{{this.image_url}}" />
    {{/each}}

    <form action="/get-next" method="GET">
        <input name="pg_end" type="text" value="{{pg_end}}" />
        <input name="pg_start" type="text" value="{{pg_start}}" />

        <button type="submit">Next</button>

    </form>

    <form action="/get-prev" method="GET">
        <input name="pg_end" type="text" value="{{pg_end}}" />
        <input name="pg_start" type="text" value="{{pg_start}}" />

        <button type="submit">Prev</button>

    </form>
</body>

</html>